section.hero {
    min-height: 70vh;
    background: url('../images/background-page/main.png') no-repeat center center;
    background-size: cover;
    background-blend-mode: lighten;
    justify-content: flex-start;
}
.hero-content {
    max-width: 650px;
    color: #fff;
}

.hero-desc {
    font-size: 1.25rem;
}

.links-section {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 2rem 0 3rem 0;
}
.links-section a {
    color: #c1121f;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
.links-section a:hover {
    background-color: #c1121f;
    color: #fff;
    border-color: #c1121f;
    box-shadow: 0 6px 16px rgba(193, 18, 31, 0.38);
}

