section.hero {
    min-height: 60vh;
}

.hero-content {
    max-width: 650px;
    color: #c1121f;

}

.hero-desc {
    font-size: 1.25rem;
    color: #333;
}

.hidden {
    display: none !important;
}
