section.hero {
    min-height: 45vh;
}

.hero-content {
    color: #c1121f;
    text-align: left;
    max-width: 600px;
}

.hero-desc {
    font-size: 1.25rem;
}

.driver-photo {
    width: 180px;
    height: 180px;
    box-shadow: 0 0 10px rgba(193, 18, 31, 0.7);
    margin-right: 2rem;
}