section.hero {
    min-height: 60vh;
}

.hero-content {
    max-width: 650px;
    color: #c1121f;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    text-shadow: 0 2px 8px rgba(255,255,255,0.7);
}
.hero-desc {
    font-size: 1.25rem;
    color: #333;
}