section.hero {
    min-height: 70vh;
    background: url('../images/background-page/index.png') no-repeat center center;
    background-size: cover;
    background-blend-mode: lighten;
    justify-content: flex-start;
}

.hero-content {
    max-width: 650px;
    color: #fff;
}

.hero-desc {
    font-size: 1.25rem;
}
