section.hero {
    min-height: 45vh;
    background: url('../images/background-page/race_details.png') no-repeat center center;
    background-size: cover;
    background-blend-mode: lighten;
    justify-content: flex-start;
}
.hero-content {
    max-width: 600px;
    color: #fff;
}

.hero-desc {
    font-size: 2.5rem;
    color: #f8f8f8;
}