section.hero {
    min-height: 60vh;
    background: url('../images/background-page/teams.png') no-repeat center center;
    background-size: cover;
    background-blend-mode: lighten;
    justify-content: flex-start;
}
.hero-content {
    max-width: 650px;
    color: #fff;
}

.hero-desc {
    font-size: 1.25rem;
    color: #f8f8f8;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.team-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(193, 18, 31, 0.15);
    width: 220px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team-card-link {
    text-decoration:none;
    color: inherit;
}
.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(193, 18, 31, 0.3);
}

.team-name {
    font-weight: 700;
    font-size: 1.3rem;
    color: #c1121f;
    margin-bottom: 0.3rem;
}
.team-country {
    font-weight: 500;
    color: #555;
    font-size: 1rem;
}

.team-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(193, 18, 31, 0.4);
}
